.App-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 50px;
}

.App-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-search {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Ingredients {

}

.Steps {

}
