.App-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 50px;
}

.App-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-search {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Steps {

}

.Recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.Recipe-title {
  padding-bottom: 5%;
}

.Recipe-tabs {
  padding-bottom: 2%;
}

.Ingredients {
  padding: 5%;
}

.Ingredients-input {
  width: 15%;
}

.Score-push {

}

.Score-push-input {
  width: auto;
  margin-right: 10%;
}