.App-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 50px;
}

.App-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.Tables-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-search {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Scores-table {
  width: 100%;
}

.Recipe {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Recipe-title {
  padding-bottom: 5%;
  text-align: center;
}

.Recipe-tabs {
  padding-bottom: 2%;
}

.Recipe-tabs-content {
  padding: 5%;
  border-style: solid;
}

.Ingredients-input {
  width: 15%;
}

.Score-push {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  width: 100%;
}

.Score-push-input {
  width: 50%;
  margin-right: 10%;
}